 /* Container holding the image and the text */
 .container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position:absolute;
    text-align: center;
    background-color: rgb(241, 234, 234);
    color: rgb(17, 16, 16);
    padding-left: 20px;
    padding-right: 20px;
  } 